<h1>The Deets</h1>

  <h4>Title: <%= @basedetails.title %></h4>
  <h4>Overview: <%= @basedetails.overview %></h4>
  <h4>Vote Average: <%= @basedetails.vote_average %></h4>
  <h4>Vote Count: <%= @basedetails.vote_count %></h4>

  <h4>Run Time in Hours</h4>
